@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Source+Sans+Pro&family=Actor&display=swap');

@media (max-width: 600px) {
	body {
		margin: 0;
		padding: 5%;
		width: 90%;
		line-height: 1.5;
		position: absolute;
		font-size: 1rem;
		letter-spacing: 0.01rem;
	}

	h1 {
		font-size: 1.75rem;
	}

	h2 {
		font-size: 1.25rem;
	}

	.column {
		width: 100%;
	}

	/* .dropdown .dropbtn, .dropbtn-active {
    padding: 16px 16px;
  } */
}

@media (min-width: 601px) {
	body {
		margin-top: 3% !important;
		margin-bottom: 3% !important;
		border-radius: 30px;
		padding: 2.5rem;
		width: 38rem;
		margin: auto;
		line-height: 1.75;
		font-size: 1.05rem;
		letter-spacing: 0.025rem;
	}

	h1 {
		font-size: 2.4rem;
	}

	/* .dropdown .dropbtn, .dropbtn-active {
    padding: 18px 16px;
  } */
}

html {
	background: linear-gradient(90deg, #1458bea3 0%, #b35353a1 50%), url('remind.png');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	color: #fff;
	font-family: "Source Sans Pro";
	background: #2C2A36CC;
}

code {
	text-shadow: 0px 0px 5px #433b3b;
	background: #716d67a6;
}

img {
	width: 2.5rem;
}

hr {
	margin: 25px;
}

::selection {
	background: #65cdfaa5;
}

/*Columns*/
.column {
	float: left;
	width: 48%;
	margin-right: 2%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/*header*/
h1 {
	font-family: "Inconsolata";
	text-transform: uppercase;
	line-height: 1.4;
	font-weight: 700;
}

h2 {
	color: #ff685d;
	font-family: "Actor";
	text-transform: uppercase;
	font-size: 1.3rem;
	text-decoration: underline;
}

/*hyperlink color*/
a {
	color: #cad3f5;
	font-weight: 600;
}

.fake_link {
	color: #cad3f5;
	font-weight: 600;
}

a:hover {
	color: #8a9ebde7;
}

.highlight {
	font-weight: 600;
	color: #f3cee4;
	text-shadow: 0px 0px 3px #9f2a2a;
}

/*Youtube & Spotify*/
.yt {
	color: #ffc3c3;
}

.spotify {
	color: #acffac
}

/*Columns*/
.column {
	float: left;
	width: 48%;
	margin-right: 2%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Navigation CSS */
.navbar {
	background: #6b6b6b4c;
}

.navbar-nav,
.dropdown-item {
	font-family: "Source Sans Pro";
	font-weight: 600;
	color: white;
	font-size: 1rem;
}

.nav-link {
	padding: 10px;
}

.navbar-toggler {
	margin-bottom: 20px;
}

.nav-link.active, .dropdown-item.active {
	background-color: #c92e52;
}


.dropdown-toggle[aria-expanded="true"],
.nav-link:hover {
	background-color: #a01b3a;
	color: white;
}

.dropdown-menu {
	background-color: #454751ea;
}

.dropdown-menu li:nth-of-type(1) a:hover {
	background-color: #b7404080;
}
.dropdown-menu li:nth-of-type(2) a:hover {
	background-color: #8721ac80;
}

.dropdown-menu li:nth-of-type(3) a:hover {
	background-color: #1ab13380;
}

.dropdown-menu li:nth-of-type(4) a:hover {
	background-color: #2680c880;
}