@font-face {
    font-family: "Source Sans 3";
    src: url("Source Sans 3.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Inconsolata";
    src: url("Inconsolata.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Actor";
    src: url("Actor.ttf");
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css");

:root {
    --bs-primary: rgb(255, 104, 93);
    --bs-primary-rgb: 255, 104, 93;
    --bs-secondary: rgb(115, 189, 235);
    --bs-secondary-rgb: 115, 189, 235;
    --bs-success: #198754;
    --bs-success-rgb: 25, 135, 84;
    --bs-warning: #ffc107;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger: #e55765;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light: rgb(225, 225, 225);
    --bs-light-rgb: 255, 255, 255;
    --bs-dark: #212529;
    --bs-dark-rgb: 33, 37, 41;
    --bs-gradient: linear-gradient(90deg, #b3535345 0%, #1458be45 50%);
    --bs-body-font-family: "Source Sans 3";
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 500;
    --bs-body-line-height: 1.6;
    --bs-body-color: var(--bs-light);
    --bs-body-color-rgb: var(--bs-light-rgb);
    --bs-secondary-color: rgb(200, 200, 200);
    --bs-secondary-color-rgb: 200, 200, 200;
    --bs-body-bg: rgba(44, 42, 55, 0.55);
    --bs-body-bg-rgb: 44, 42, 55;
    --bs-link-color: #f9c748;
    --bs-link-color-rgb: 249, 199, 72;
    --bs-link-decoration: underline;
    --bs-link-hover-color: rgba(255, 233, 109, 0.906);
    --bs-link-hover-color-rgb: 255, 233, 109;
    --bs-code-color: #e6d5dd;
    --bs-highlight-bg: #fff3cd;

    --hot-pink: #a01b3a;
    --faded-hot-pink: #95183590;

    --pink: #9a3061;
    --faded-pink: #9a306185;

    --red: #9d2323;
    --faded-red: #b7404055;

    --purple: #672081;
    --faded-purple: #8721ac55;

    --green: #1a912e;
    --faded-green: #1ab13355;

    --blue: #26557c;
    --faded-blue: #2680c855;

    --yellow: #a18745;
    --faded-yellow: #cfa52655;
}

@media (min-width: 601px) {
    html {
        background: var(--bs-gradient), url("react.png");
        background-attachment: fixed;
    }
    body {
        padding: 2rem;
    }
    #covers {
        max-width: 75%;
    }
}
@media (max-width: 600px) {
    html {
        background: linear-gradient(#b3535335 0%, #1458be35 50%),
            url("react-og.png");
        background-attachment: scroll;
    }
    body {
        padding: 0.5rem;
    }
    #covers {
        max-width: 100vw;
    }
}

/* Main Components */
html {
    background-color: #242127;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100%;
}

body {
    margin-right: auto;
    margin-left: auto;
    max-width: 45rem;
    letter-spacing: 0.015rem;
    height: auto;
    min-height: 100%;
}

h1 {
    font-family: "Inconsolata";
    text-transform: uppercase;
    font-size: 2.25rem;
    line-height: 1.4;
    font-weight: 700;
    color: white;
}

h2 {
    --bs-heading-color: var(--bs-primary);
    font-size: 1.6rem;
    font-family: "Actor";
    text-transform: uppercase;
    text-decoration: underline;
}

h3 {
    --bs-heading-color: var(--bs-secondary);
    margin-top: 0.7rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-decoration: underline;
}

h4 {
    font-size: 1.15rem;
}

h5 {
    font-size: 1.1rem;
    font-weight: bolder;
    text-decoration: underline;
}

b {
    color: white;
}

.fake-link {
    color: var(--bs-link-color);
    text-decoration: var(--bs-link-decoration);
}

/* Fade Animation */
.animate-in {
    -webkit-animation: fadeIn 0.5s ease-in;
    animation: fadeIn 0.5s ease-in;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#home {
    width: 1.25em;
    height: 1.25em;
}

/* Navigation CSS */
.nav-item {
    background: #6b6b6b4c;
    border-style: solid;
    border-width: 1px;
    border-color: #6b6b6b8e;
}

.nav-link.active,
li.dropdown:has(a.dropdown-item.active) {
    background-color: var(--hot-pink);
}

.navbar-nav {
    --bs-navbar-color: var(--bs-light);
    --bs-navbar-hover-color: white;
    --bs-navbar-nav-link-padding-x: 1em;
    --bs-nav-link-padding-x: 0.5em;
    --bs-nav-link-padding-y: 0.6em;
}

.n i {
    color: white;
}

.nav-item:hover {
    background-color: var(--faded-hot-pink);
}

/* Navigation Dropdown Menu */

.dropdown-menu {
    --bs-dropdown-bg: #363749;
    --bs-dropdown-border-radius: 0;
    --bs-dropdown-link-active-bg: var(--hot-pink);
}

.dropdown-menu li:nth-of-type(1) {
    --bs-dropdown-link-active-bg: var(--red);
    --bs-dropdown-link-hover-bg: var(--faded-red);
}

.dropdown-menu li:nth-of-type(2) {
    --bs-dropdown-link-active-bg: var(--purple);
    --bs-dropdown-link-hover-bg: var(--faded-purple);
}

.dropdown-menu li:nth-of-type(3) {
    --bs-dropdown-link-active-bg: var(--green);
    --bs-dropdown-link-hover-bg: var(--faded-green);
}

.dropdown-menu li:nth-of-type(4) {
    --bs-dropdown-link-active-bg: var(--blue);
    --bs-dropdown-link-hover-bg: var(--faded-blue);
}

.dropdown-menu li:nth-of-type(5) {
    --bs-dropdown-link-active-bg: var(--yellow);
    --bs-dropdown-link-hover-bg: var(--faded-yellow);
}

::selection {
    background: #366d85a5 !important;
    color: white !important;
}

/* Feedback Form */

.form-control {
    border-radius: 0;
    --bs-border-color: var(--bs-link-color);
}

.form-control:focus {
    border-color: var(--bs-border-color);
}

.form-control::placeholder {
    color: rgba(var(--bs-body-color-rgb), 0.3);
}

input[name="username"],
input[name="email"],
input[name="color"] {
    position: absolute;
    left: -999999999px;
}

/* Navigation Button Groups */

.custom-btn {
    --bs-btn-bg: var(--pink);
    --bs-btn-active-bg: var(--pink);
    --bs-btn-color: var(--bs-light);
    --bs-btn-hover-bg: var(--faded-pink);
}

/* Accordion Navigation */
.accordion {
    --bs-accordion-border-color: var(--bs-light);
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-color: var(--bs-light);
    --bs-accordion-btn-color: var(--bs-secondary-color);
    --bs-accordion-btn-border-color: var(--bs-light);
    --bs-accordion-btn-padding-y: 0.75rem;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
}

.accordion-item:nth-of-type(1) {
    --bs-accordion-active-bg: var(--red);
    --bs-accordion-btn-bg: var(--faded-red);
}
.accordion-item:nth-of-type(2) {
    --bs-accordion-active-bg: var(--purple);
    --bs-accordion-btn-bg: var(--faded-purple);
}
.accordion-item:nth-of-type(3) {
    --bs-accordion-active-bg: var(--green);
    --bs-accordion-btn-bg: var(--faded-green);
}
.accordion-item:nth-of-type(4) {
    --bs-accordion-active-bg: var(--blue);
    --bs-accordion-btn-bg: var(--faded-blue);
}
.accordion-item:nth-of-type(5) {
    --bs-accordion-active-bg: var(--yellow);
    --bs-accordion-btn-bg: var(--faded-yellow);
}

.accordion small {
    font-size: 85%;
    color: rgb(193, 193, 193);
}

.accordion .text-secondary {
    font-size: 85%;
}

.accordion table p {
    line-height: 1.2;
}

.accordion table a {
    font-size: 95%;
    text-decoration: none;
}

.accordion .toggle a {
    color: #6fd942;
}

.accordion .toggle a:hover {
    color: #52ab2b;
}

/* Color coding */

.text-red, .text-red a {
    color: var(--red);
}

.text-red:hover, .text-red a:hover {
    color: var(--faded-red);
}

.text-purple, .text-purple a {
    color: var(--purple);
}

.text-purple:hover, .text-purple a:hover {
    color: var(--faded-purple);
}

.text-green, .text-green a {
    color: var(--green);
}

.text-green:hover, .text-green a:hover {
    color: var(--faded-green);
}

.text-blue, .text-blue a {
    color: var(--blue);
}

.text-blue:hover, .text-blue a:hover {
    color: var(--faded-blue);
}

.text-yellow, .text-yellow a {
    color: var(--yellow);
}

.text-yellow:hover, .text-yellow a:hover {
    color: var(--faded-yellow);
}
